<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	
	<!-- Advice para controlar el log de la capa de servicio y la capa dao -->
	<!--
	<bean id="advice" class="es.dipucadiz.etir.comun.aop.AopAdvice"/>
	<aop:config>
		<aop:pointcut id="logBO" expression="execution(* es.dipucadiz.etir.*.*.bo.*.*(..))" />
		<aop:pointcut id="logDao" expression="execution(* es.dipucadiz.etir.*.*.dao.*.*(..))" />
		<aop:aspect id="logAspect" ref="advice">
			<aop:before method="before" pointcut-ref="logDao"/>
			<aop:before method="before" pointcut-ref="logBO"/>
			<aop:after-returning method="afterReturning" pointcut-ref="logDao"/>
			<aop:after-returning method="afterReturning" pointcut-ref="logBO"/>
			<aop:after-throwing method="afterThrowing" throwing="exc" pointcut-ref="logBO"/>
		</aop:aspect>
	</aop:config>
	-->

	<!-- Advice para controlar el client id en los delete() -->
	<bean id="connectionInterceptor" class="es.dipucadiz.etir.comun.aop.ConnectionAdvice	" />
	<aop:config>
		<aop:pointcut id="getConnectionMethod" expression="execution(* javax.sql.DataSource.getConnection(..))" />
		<aop:advisor id="getConnectionAdvice" pointcut-ref="getConnectionMethod" advice-ref="connectionInterceptor" />
	</aop:config>
	
</beans>
